.info-page {
  width: 100%;
  font-size: 24px;
  margin-top: 50px;

  &__vertical-line {
    background-color: var(--line-color);
    width: 2px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    justify-content: end;
  }

  &__dot {
    background-color: var(--dots-color);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: -58px;
    margin-top: 7px;

    &-last {
      margin-left: -6px;
    }
  }

  &__header {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 28px;
  }

  &__block {
    display: flex;
    gap: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    &-item {
      display: flex;
      justify-content: space-between;
      gap: 15px;

      &-first-row {
        text-transform: uppercase;
      }

      &-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;

        &-name {
          font-weight: 600;
          font-size: 24px;
        }
      }
    }
  }
}
