.info-page {
  width: 100%;
  font-size: 24px;
  margin-top: 50px;
}

.info-page__vertical-line {
  background-color: #a6a6a6;
  width: 2px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  justify-content: end;
}

.info-page__dot {
  background-color: #8fcbeb;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: -58px;
  margin-top: 7px;
}

.info-page__vertical-line-dot {
  background-color: #8fcbeb;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: -6px;
}

.info-page__header {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 28px;
}

.info-page__block {
  display: flex;
  gap: 50px;
}

.info-page__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.info-page__content-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.info-page__content-item-first-row {
  text-transform: uppercase;
}

.info-page__content-item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.info-page__content-item-text-name {
  font-weight: 600;
  font-size: 24px;
}
