.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px 40px;
}

.navigation a {
  font-size: 22px;
  text-decoration: none;
  color: black;
}

.navigation-selected {
  border-bottom: 2px solid #a6a6a6;
  margin-bottom: -6px;
  padding-bottom: 4px;
}
